[submodule "docker-images"]
	path = docker-images
	url = https://github.com/mtbvang/docker-images
[submodule "vagrant"]
	path = vagrant
	url = https://github.com/mtbvang/vagrant-starter
[submodule "provisioning"]
	path = provisioning
	url = https://github.com/mtbvang/provisioning.git
[submodule "dotfiles"]
	path = dotfiles
	url = https://github.com/mtbvang/dotfiles
